<!-- passo 5 --------------------------------------------------------------- -->
<div class="step-pane" id="ato-step-5">
    <h3><strong>Step 5 </strong> - Finalizar!</h3>
    <br>
    <br>
    <h1 class="text-center text-success">
        <i class="fa fa-check"></i> Congratulations!
        <br>
        <small>Click finish to end wizard</small>
    </h1>
    <br>
    <br>
    <br>
    <br>
</div>

