<!-- _divPessoas  ---------------------------------------------------------- -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="row">
    <div class="col-md-12">
        <table id="tbl-pessoas-selecionadas" class="table table-condensed">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>N° documento</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>UF</th>
                    <th>CEP</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>