<!-- _divWizardPasso4 crud ato  -------------------------------------------- -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="step-pane" id="ato-step-4">
    @Html.Partial("_crudAto", Model)
</div>
