@model Cartorio11RI.ViewModels.AtoViewModel

<!-- passo 1 --------------------------------------------------------------- -->
<div class="step-pane active" id="ato-step-1">
    <br />
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IdLivro)
            @Html.DropDownListFor(model => model.IdLivro, (ViewBag.listaLivro as SelectList), new { @id = "ddListLivro", @class = "form-control" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IdPrenotacao)
            <div class="input-group">
                <span class="input-group-addon dropdown"><i class="fa fa-file-text-o"></i></span>
                <div class="icon-addon addon-md">
                    @Html.TextBoxFor(model => model.IdPrenotacao, new { @class = "form-control somente-numero-sem-decimal", placeholder = "Núm. prenotação" })
                    <label for="IdPrenotacao" class="glyphicon glyphicon-search" rel="tooltip" title="Número de prenotação"></label>
                </div>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" id="btn-pesq-prenotacao">Pesquisar</button>
                </span>
            </div>
        </div>
    </div>
    <hr class="simple" />
    <!-- Widget ID (each widget will need unique ID) ----------------------- -->
    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-home"></i> </span>
            <h2>Matrículas</h2>
        </header>

        <!-- widget div ------------ -->
        <div>
            <!-- widget edit box --- -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->

            <!-- widget content ---- -->
            <div class="widget-body">
                @{Html.RenderAction("MontarTblImoveis", "Atos", Model.IdPrenotacao);}
            </div>
            <!-- end widget content- -->

        </div>
        <!-- end widget div -------- -->

    </div>
    <!-- end widget ---------------- -->
</div>


