<!-- _divWizardPasso4 - Novo ato  ------------------------------------------ -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="step-pane" id="ato-step-4">
    <br />
    @Html.Partial("_crudAto", Model)
</div>
