<!-- passo 2 --------------------------------------------------------------- -->
<div class="step-pane" id="ato-step-2">
    <h3><strong>Etapa 2 </strong> - Selecionar pessoas</h3>
    <div class="row">
        <div class="col-sm-2">
            <label>Selecionar outorgante(s)/outorgado(s)</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-lg" id="btn-pesq-pessoas">     selecionar     </button>
                </span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table id="tbl-pessoas-selecionadas" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>N° documento</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>UF</th>
                        <th>CEP</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- APPEND JSON-->
                </tbody>
            </table>
        </div>
    </div>
</div>


