<!-- _divWizardPasso2 Pessoas ---------------------------------------------- -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="step-pane" id="ato-step-2">
    <hr />
    <div class="row">
        <div class="col-md-2">
            <label>Selecionar outorgante(s)/outorgado(s)</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-lg" id="btn-pesq-pessoas" rel="tooltip" data-placement="top" data-original-title="Selecionar outorgantes/outorgados da prenotação.">     selecionar     </button>
                </span>
            </div>
        </div>
    </div>
    <hr />
    @Html.Partial("_div_Pessoas", Model)
</div>


