<!-- _edtStoTab2 - Pessoas ------------------------------------------------- -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="tab-pane fade" id="tab-edt-tab2">
    @Html.Partial("_divPessoas", Model)
</div>
