@using Dto.CartNew.Entities.Cart_11RI.Diversos;
@model IEnumerable<DtoDadosImovel>


<table id="tbl-matriculas-prenotacao" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr>
            <th style="width:5%">ID</th>
            <th style="width:45%">ID</th>
            <th style="width:20%">ID</th>
            <th style="width:30%">ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var imovel in Model)
        {

        }
    </tbody>
</table>


