<div class="modal-dialog" role="dialog">
    <div class="modal-content">
        <div class="modal-body">
            <br />
            <br />
            <br />
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <img src="~/Content/img/gifLoading.gif" width="200px;" height="200px;" />
                    <h1 id="mensagemLoading">Carregando...</h1>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
