<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory, Oracle.ManagedDataAccess.EntityFramework" />
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <!-- Base de Desenvolvimento -->
        <dataSource alias="dataSourceUserIdentityDesenv" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))" />
        <dataSource alias="dataSourceCartorioNewDesenv" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))" />

        <!-- Base de Homologação -->
        <!--
        <dataSource alias="dataSourceUserIdentityHomolo" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))" />
        <dataSource alias="dataSourceCartorioNewHomolo" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))" />
        -->

        <!-- Base de Produção -->
        <!--
        <dataSource alias="dataSourceUserIdentityProducao" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))" />
        <dataSource alias="dataSourceCartorioNewProducao" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))" />
        -->
        
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <!-- Base de Desenvolvimento -->
    <add name="contextOraUserIdentity" connectionString="Data Source=dataSourceUserIdentityDesenv;User id=dezesseis_new; Password=senha16ri;Min Pool Size=16;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="contextOraCartNew" connectionString="Data Source=dataSourceCartorioNewDesenv;User id=dezesseis_new; Password=senha16ri;Min Pool Size=16;" providerName="Oracle.ManagedDataAccess.Client" />

    <!-- Base de Homologação -->
    <!--
    <add name="contextOraUserIdentity" connectionString="Data Source=dataSourceUserIdentity;User id=dezesseis_new; Password=senha16ri;Min Pool Size=16;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="contextOraCartNew" connectionString="Data Source=dataSourceCartorioNew;User id=dezesseis_new; Password=senha16ri;Min Pool Size=16;" providerName="Oracle.ManagedDataAccess.Client" />
    -->
    
    <!-- Base de Produção -->
    <!--
    <add name="contextOraUserIdentity" connectionString="Data Source=dataSourceUserIdentity;User id=dezesseis_new; Password=senha16ri;Min Pool Size=16;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="contextOraCartNew" connectionString="Data Source=dataSourceCartorioNew;User id=dezesseis_new; Password=senha16ri;Min Pool Size=16;" providerName="Oracle.ManagedDataAccess.Client" />
    -->
    
    <!-- Outras bases -->
    <!--
    <add name="contextOraDevCartorio" connectionString="DATA SOURCE=192.168.1.16:1521/car12;PASSWORD=wordpass;PERSIST SECURITY INFO=True;USER ID=DEZESSEIS" providerName="Oracle.ManagedDataAccess.Client" />
    -->
  </connectionStrings>

</configuration>