<!-- _divPessoas  ---------------------------------------------------------- -->
@model Cartorio11RI.ViewModels.AtoViewModel

<div class="row">
    <div class="col-md-12">
        <table id="tbl-pessoas-prenotacao" class="table table-striped table-hover table-responsive" >
            <thead>
                <tr>
                    <th><input type="checkbox" id="chk-checkall-pes-prenotacao" class="chk_cartoon" title="Selecionar todos" /></th>
                    <th>Tipo</th>
                    <th>N° documento</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>UF</th>
                    <th>CEP</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox"  class="chk_cartoon" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
