@{
    ViewBag.PageId = "home-page";
    ViewBag.Title = "Home";
    ViewBag.SubTitle = "Index";
}

<!--css styles -->
@section styles_especific {
<style>
    /* coloque seu codigo css aqui*/

</style>
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

    </div>
</div>

<!-- END MAIN CONTENT -->
@section pagespecific {
    <script>
        /*coloque ser codigo javascript aqui*/
    </script>
}