<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v12.0"/>
            </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!-- <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" /> -->
    </providers>
  </entityFramework>
  <appSettings>
    <add key="config:EnableTiles" value="1"/>
    <add key="config:EnableLoader" value="1"/>
    <add key="config:Project" value="AdmCartorio"/>
    <add key="config:Company" value="Cartton Soft, São Paulo/SP"/>
    <add key="config:CurrentTheme" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
    -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/account/login" timeout="2880"/>
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/account/error"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="font/truetype"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="dataSourceDevUserIdentity" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceDevCartorioNew" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceDevCartorio" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>

        <dataSource alias="dataSourceHomoloUserIdentity" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceHomoloCartorioNew" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceHomoloCartorio" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>

        <dataSource alias="dataSourceProdUserIdentity" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceProdCartorioNew" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceProdCartorio" descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <!-- retirar depois -->
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=cat_db_identity-db1;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\db_identity-db1.mdf" providerName="System.Data.SqlClient"/>
    <!-- <add name="DefaultConnection" connectionString="Data Source=(localdb)\V11.0;Initial Catalog=AdmCartorio;Integrated Security=SSPI" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="DefaultConnection" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=AdmCartorio;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->

    <add name="contextOraDevUserIdentity" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceDevUserIdentity; User id=dezesseis_new; Password=senha16ri;"/>
    <add name="contextOraDevCartorioNew" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceDevCartorioNew;User id=dezesseis_new;Password=senha16ri;Min Pool Size=10;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5;Decr Pool Size=2;"/>
    <add name="contextOraDevCartorio" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceDevCartorio; User id=dezesseis; Password=wordpass;"/>

    <add name="contextOraHomoloUserIdentity" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceUserIdentity; User id=???; Password=???;"/>
    <add name="contextOraHomoloCartorioNew" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceCartorioNew; User id=???; Password=???;"/>
    <add name="contextOraHomoloCartorio" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceCartorio; User id=???; Password=???;"/>

    <add name="contextOraProdUserIdentity" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceUserIdentity; User id=??? Password=???;"/>
    <add name="contextOraProdCartorioNew" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceCartorioNew; User id=???; Password=???;"/>
    <add name="contextOraProdCartorio" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=dataSourceCartorio; User id=???; Password=???;"/>
  </connectionStrings>

</configuration>