
<div class="row" hidden id="divRespPes">
    <div class="col-sm-12 alert alert-danger">
        <label id="divRespPes" class="">Não existem participantes para os dados digitados!</label>
    </div>
</div>
<div class="row">
    <button type="button" class="hidden btn btn-primary margin-bottom-10"
            style="float:right; font-weight:bold; margin-right:15px; font-size:15px;"
            id="linkParticipantes" href="#" onclick="AlterarParticipantes()">
        Editar
    </button>
</div>
<div class="row" style="height:40em; overflow-y:auto; scrollbar-track-color:none;">
    <div class="col-sm-12">
        <table id="tblPessoas" class="table">
            <thead>
                <tr>
                    <th class="col-md-1">TP Pessoa</th>
                    <th class="col-md-2">Nome</th>
                    <th class="col-md-2">Endereço</th>
                    <th class="col-md-1">N.° Documento</th>
                    <th class="col-md-1">Tipo Documento</th>
                    <th class="col-md-1">Bairro</th>
                    <th class="col-md-1">Cidade</th>
                    <th class="col-md-1">UF</th>
                    <th class="col-md-1">CEP</th>
                    <th class="col-md-1">Telefone</th>
                </tr>
            </thead>
            <tbody>
                <!-- APPEND JSON-->
            </tbody>
        </table>
    </div>
</div>
