@model AdmCartorio.ViewModels.CadastroDeAtoViewModel

<div class="row" hidden id="divRespImo">
    <div class="col-sm-12 alert alert-danger">
        <label id="labelRespImo" class="">Não existe imóvel para os dados digitados!</label>
    </div>
</div>
<h1>Modelo Selecionado</h1>
<br />
<div class="row">
    <div class="col-sm-1">
        <label class="h5">Nome do modelo</label>
    </div>
    <div class="col-sm-3 form-group">
        <div>
            @Html.HiddenFor(model => model.Modelo.Id)
            @Html.TextBoxFor(model => model.Modelo.NomeModelo, new
            {
                @class = "form-control input-lg",
                @placeholder = "Nome do modelo",
                @readonly = "readonly",
                @required = "required",
                @title = "Preencha o nome do modelo"
            })
        </div>
    </div>
    <div class="col-sm-2">
        <label class="h5">Tipo de Ato</label>
    </div>
    <div class="col-sm-2 col-lg-pull-1 form-group">
        @Html.TextBoxFor(model => model.Modelo.DescricaoTipoAto,
            new { @class = "form-control input-lg", @placeholder = "Tipo de ato", @readonly = "readonly", @required = "required", @title = "Preencha o tipo de ato" })
        @Html.HiddenFor(model => model.IdTipoAto)
        <input hidden id="modeloInvalido" />
    </div>
</div>

<div class="row col-sm-12" style="margin-bottom:15px;">
    <table id="tabelaModelo" class="table table-bordered table-hover dataTable no-footer has-columns-hidden" role="grid" aria-describedby="dt_basic_info" style="width: 100%;">
        <thead>
            <tr role="row">
                <th rowspan="1" colspan="1">
                    <label class="h5">Código do modelo</label>
                </th>
                <th data-class="expand" class="expand sorting" tabindex="0" aria-controls="dt_basic" rowspan="1" colspan="1" aria-label="Nome: activate to sort column ascending">
                    <label class="h5">Nome do modelo</label>
                </th>
                <th rowspan="1" colspan="1">
                    <label class="h5">Tipo de ato</label>
                </th>
                <th rowspan="1" colspan="1">

                </th>
        </thead>
        <tbody>
            <!--APPEND DO JSON-->
        </tbody>
    </table>
</div>