<!-- Modal Modelo-->
<div class="modal fade" id="PartialDadosAdicionais" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
    @{
                    /**/

                    Html.RenderPartial("PartialDadosAdicionais");
    }
</div>
<!-- Fim Modal Modelo-->
<div class="modal fade" id="PartialDadosPessoas" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">

</div>

<div class="modal fade" id="ModalLoading" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">

    @{
        Html.RenderPartial("ViewLoading");
    }

</div>
