@model IEnumerable<AdmCartorio.ViewModels.MatriculaViewModel>
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Busca de Matriculas</h4>
        </div>
        <div class="modal-body">
            <fieldset>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="margin-top-10">Prenotação</label>
                        <input id="txtPrenotacao"  placeholder="Digite a prenotação" class="form-control" />
                    </div>
                    <div class="col-sm-5">
                        <label class="col-form-label margin-top-10">Digite a matrícula</label>
                        <input id="txtMatricula"  placeholder="Digite o Nº da Matrícula" class="form-control" />
                    </div>
                    <div class="col-sm-1">
                        <br />
                        <button id="btnPesquisar"
                                class="btn btn-default margin-top-10 margin-left-5">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </fieldset>

            <table id="tabelaImovel" class="table table-bordered table-hover dataTable no-footer has-columns-hidden" role="grid" aria-describedby="dt_basic_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th rowspan="1" colspan="1">
                            Nº Matrícula
                        </th>
                        <th data-class="expand" class="expand sorting" tabindex="0" aria-controls="dt_basic" rowspan="1" colspan="1" aria-label="Nome: activate to sort column ascending">
                            Nome do imóvel
                        </th>
                        <th rowspan="1" colspan="1">
                            Endereço
                        </th>
                        <th rowspan="1" colspan="1">
                            Contribuiente
                        </th>
                        <th rowspan="1" colspan="1">
                            Ação
                        </th>
                </thead>
                <tbody>

                   <!-- GET JSON-->

                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function enviarDadosMatricula(objeto) {
        var linha = objeto.closest("tr");
        var matriculaId = linha.querySelector(".matriculaId");
        var endereco = linha.querySelector(".enderecoImovel");
        var contribuiente = linha.querySelector(".contribuiente");

        $('#MatriculaID').val(matriculaId.innerText);
        $('#MatriculaEndereco').val(endereco.innerText)
        $('#MatriculaProprietarioAtual').val(contribuiente.innerText);

        $('#btnModelo').removeAttr('disabled');
        $('#BuscaMatricula').modal('hide');
    }
    $('#btnPesquisar').on('click', function () {
        var numeroPrenotacao = parseInt($('#txtPrenotacao').val());
        var numeroMatricula = parseInt($('#txtMatricula').val());
        GetDadosImovel(numeroPrenotacao, numeroMatricula);
    })

    function GetDadosImovel(numPre,numMat) {
        $.get('@Url.Action("GetDadosImovel", "Ato")', data{ numeroPrenotacao: numPre, numeroMatricula: numMat} ,function (data, status) {
                resultado = JSON.parse(data);
                var tabela = $('#tabelaModelo tbody');
                tabela.html("");
                resultado.forEach(item => {
                    tabela.append(`
                        <tr role="row" id="${item.MATRI}">
                            <td class="matriculaId">${item.MATRI}</td>
                            <td class="nomeImovel">${item.EDIF}</td>
                            <td class="enderecoImovel">${item.ENDER},${item.NUM},Lote ${item.LOTE} - Apto ${item.APTO}</td>
                            <td class="contribuinteImovel">${item.CONTRIB}</td>
                            <td>
                                <button class="btn btn-success" onclick="enviarDadosMatricula(this)" type="submit">
                                    Confirmar
                                </button>
                            </td>
                        </tr>`);
                });
        });
    }

</script>

