<div class="row">
    <div class="col-sm-1">
        <label>N.° da Ficha</label>
    </div>
    <div class="col-sm-3">
        <input id="numFicha" name="numFicha" type="text" />
    </div>
    <div class="col-sm-1">
        <label>No verso?</label>
    </div>
    <div class="col-sm-1">
        <input type="checkbox" id="ckVerso" name="ckVerso" />
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label>Quantidade centimetros da borda</label>
    </div>
    <div class="col-sm-3">
        <input id="qtdeCentimetros" name="qtdeCentimetros" type="text" />
    </div>
    <div class="col-sm-2">
        <label>N.° Sequencia Ato (Ex.: AV-{n}/...)</label>
    </div>
    <div class="col-sm-1">
        <input id="numSequencia" name="numSequencia" type="text" />
    </div>
</div>
