<!--O RENDER DE STYLE ESPECIFICOS JA EXISTE-->
<style>
    .input-modal:invalid {
        border-color: red;
    }

    .input-modal:valid {
        border-color: green;
    }
</style>

<div class="modal-dialog" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1>Informações Adicionais</h1>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 text-align-right padding-top-10">
                            <label class="">N.° da Ficha</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control input-modal" id="numFicha" name="numFicha" type="number" placeholder="N.° da Ficha" required title="Preencha o N.° da Ficha" min="1" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 text-align-right padding-top-10">
                            <label>No verso?</label>
                        </div>
                        <div class="col-sm-1">
                            <input class="form-control input-modal" type="checkbox" id="ckVerso" name="ckVerso" checked />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 text-align-right padding-top-10">
                            <label>Quantidade centimetros da borda</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control input-modal" id="qtdeCentimetros" name="qtdeCentimetros" type="text" placeholder="Centimetros" title="Preencha a Quantidade de centimetros"
                                   pattern="^[0-9]{1}[0-9]{0,}(\.\d{1,2})?$" required />
                            <label class="hidden" id="centimetrosValidation">Preencha a quantidade corretamente</label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 text-align-right padding-top-10">
                            <label>N.° Sequencia Ato (Ex.: AV-{<b>n</b>}/...)</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control input-modal" id="numeSequencia" name="numeSequencia" type="number" placeholder="N.°" title="Preencha o N.° da sequencia"
                                   required min="1" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="limparInfoAdicionais()">Fechar</button>
            <button id="btnSalvarInformacoes"
                    type="button" class="btn btn-primary">
                Salvar informações
            </button>
        </div>
    </div>
</div>
<script>
    var centimetrosValidos = true;

    $('#qtdeCentimetros').keyup(function () {
        var regex = new RegExp("^[0-9]{0,}(\,\d{1,2})?$", "g");
        var texto = $('#qtdeCentimetros').val();
        debugger;
        if ($('#qtdeCentimetros').val().match(regex) != texto) {
            $('#centimetrosValidation').removeClass('hidden')
            $('#centimetrosValidation').text('Preencha a quantidade corretamente');
            $('#qtdeCentimetros').attr('style', 'border-color:red;');
        } else {
            var quantidade = parseInt(texto);
            if (quantidade >= 0 && quantidade <= 20) {
                $('#centimetrosValidation').addClass('hidden');
                $('#qtdeCentimetros').attr('style', 'border-color:green;');
                centimetrosValidos = true
            } else {
                centimetrosValidos = false;
                $('#centimetrosValidation').removeClass('hidden');
                $('#centimetrosValidation').text('A quantidade de centimetros deve ser entre 0 e 20');
                $('#qtdeCentimetros').attr('style', 'border-color:red;');
            }
             
        }
    });

    $('#btnSalvarInformacoes').on('click', function () {
        var enviar = true;
        if (!$("#numeSequencia").valid() || !$("#qtdeCentimetros").valid() || !centimetrosValidos || !$("#numFicha").valid()) {
            enviar = false;
        }
        //Envia os dados
        if (enviar == true) {
            $('#divMensagem').attr('hidden');
            enviarInfoAdicionais();
            $('#PartialDadosAdicionais').modal('hide');
            $('#spanInfoAdicionais').text('Edite as informações preenchidas ');
            $('#spanInfoAdicionais').append('<a class="linkModal" data-toggle="modal" data-target="#PartialDadosAdicionais">Clicando Aqui</a>');
        }
        else {
            $('#divMensagem').removeAttr('hidden');
            limparInfoAdicionais();
            $('#spanInfoAdicionais').text('Não encontramos registros de atos anteriores, por favor, disponibilize informações adicionais ');
            $('#spanInfoAdicionais').append('<a class="linkModal" data-toggle="modal" data-target="#PartialDadosAdicionais">Clicando Aqui</a>');
        }
    });

    function enviarInfoAdicionais() {
        $('#IrParaFicha').val($("#numFicha").val());
        $('#IrParaVerso').val($('#ckVerso[type=checkbox]').prop('checked'));
        $('#QuantidadeCentimetrosDaBorda').val($("#qtdeCentimetros").val());
        $('#NumSequencia').val($("#numeSequencia").val());
        $('#btnConfirmar').removeAttr('disabled');
    }
    function limparInfoAdicionais() {
        $('#IrParaFicha').val("");
        $('#IrParaVerso').val("");
        $('#QuantidadeCentimetrosDaBorda').val("");
        $('#NumSequencia').val("");
        $('#btnConfirmar').attr('disabled', 'disabled');
        $('#spanInfoAdicionais').text('Por favor, salve as informações adicionais preenchidas  ');
        $('#spanInfoAdicionais').append('<a class="linkModal" data-toggle="modal" data-target="#PartialDadosAdicionais">Clicando Aqui</a>');

    }
</script>