    <!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="~/content/img/logoCart11RI.png" alt="Cartorio11RI"> </span>
        <!-- END LOGO PLACEHOLDER -->

        @if (Request.IsAuthenticated)
        {
            <!-- Note: The activity badge color changes when clicked and resets the number to 0
            Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
            <!--
            <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>
                -->

        }
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="project-context hidden-xs">
            <span class="text-left">11º Cartório de Registro de Imóveis</span>
            <span class="text-left label">Versão 1.0.0.1</span>
        </div>

    }
    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->