<!-- MAIN CONTENT -->
@{
    ViewBag.Title = "Home";
    ViewBag.SubTitle = "Index";
}

<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">
        <div class="navbar navbar-default">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-lg fa-fw fa-home"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Configurações</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Aparência</a></li>
                            <li><a href="#">Impressão</a></li>
                            <li><a href="#">Preferências</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>
    <!-- end row -->

    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
    -->

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">RI- Registro de imóveis </h1>
            <p class="lead text-muted">
                RI - é uma plataforma integradora de hardwares e softwares de suporte ao  Serviço de Registro Eletrônico de Imóveis (SREI), 
                na forma prevista na Lei nº 11.977, de 7 de julho de 2009, e no Provimento CNJ nº 47, de 19 de junho de 2015, 
                da Corregedoria Nacional de Justiça. Mais informações nos seguinte sites:
            </p>
            <p>
                <ul>
                    <li class="list-unstyled"><a href="https://novo.oficioeletronico.com.br/">https://novo.oficioeletronico.com.br/</a></li>
                    <li class="list-unstyled"><a href="https://www.penhoraonline.org.br/">https://www.penhoraonline.org.br/</a></li>
                    <li class="list-unstyled"><a href="https://www.indisponibilidade.org.br">https://www.indisponibilidade.org.br</a></li>
                </ul>
                
            </p>

            <p>
                <a href="#" class="btn btn-primary my-2">Saiba mais</a>
            </p>
        </div>
    </section>


    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-notas-versao" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"><i class="fa fa-comments"></i> </span>
                        <h2>Informações importantes e notas de versão</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <!--<input class="form-control" type="text"> -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <!-- this is what the user will see -->
                            <p><strong>O que é Certidão?</strong></p>
                            <p>É o documento obtido junto ao Cartório de Registro de Imóveis onde consta o histórico do imóvel dando segurança aos atos jurídicos.</p>
                            <hr />
                            <p><strong>O que é prenotação?</strong></p>
                            <p>
                                Prenotação é a anotação prévia e provisória no protocolo, feita por oficial de registro público, de um título apresentado para registro.
                                Temos então que todo título protocolado está automaticamente prenotado, passando a gozar de prioridade no registro em relação àquele protocolado
                                posteriormente (Artigo 186 da Lei nº. 6015/1973). A prenotação é válida por 30 dias, incluído o dia do lançamento no protocolo. Uma vez cancelada (prenotação), não se convalida.
                                Isto quer dizer que, caso o título venha a ser devolvido para cumprimento de exigências e vier a ser reapresentado após os 30 dias do ingresso inicial, receberá um novo número de protocolo.
                            </p>
                            <hr />
                            <p><strong>Como obter valores sobre registros e averbações?</strong></p>
                            <p>Os valores cobrados para registros e averbações são estipulados por legislação estadual e corrigidos, anualmente, pela UFESP.
                                A tabela pode ser consultada através do link: <a href="https://web.11ri.com.br/index.php?pG=X19zZXJ2aWNvcw==">valores</a>
                            </p>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- row -->

        <div class="row">

            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

