<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.8.54</MSDeployServiceURL>
    <DeployIisAppPath>Cartorio11RI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>cartoonweb\ronaldo.moreira</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="contextOraUserIdentity" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Infra.Cross.Identity.Context.IdentityDbContext, Infra.Cross.Identity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Infra.Data.Core.Context.ContextOraBase" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Infra.Data.Core.Context.ContextOraBase, Infra.Data.Core" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Infra.Data.CartNew.Context.ContextMainCartNew" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Infra.Data.CartNew.Context.ContextMainCartNew, Infra.Data.CartNew" MigrationConfiguration="Infra.Data.Cartorio.Migrations.Configuration, Infra.Data.CartNew" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="contextOraCartNew" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=dezesseis_new;PASSWORD=senha16ri;DATA SOURCE=dataSourceCartorioNewDesenv;MIN POOL SIZE=16" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\contextOraCartNew_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=dataSourceCartorioNewDesenv;User id=dezesseis_new; Password=senha16ri;Min Pool Size=16;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)contextOraCartNew-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)contextOraUserIdentity-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Infra.Data.CartNew.Context.ContextMainCartNew-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Infra.Data.Core.Context.ContextOraBase-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Infra.Data.CartNew.Context.ContextMainCartNew" />
    <_ConnectionStringsToInsert Include="Infra.Data.Core.Context.ContextOraBase" />
  </ItemGroup>
</Project>