<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="dataSourceDevUserIdentity"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceDevCartorioNew"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceDevCartorio"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=192.168.1.16)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>

        <dataSource alias="dataSourceHomoloUserIdentity"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceHomoloCartorioNew"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceHomoloCartorio"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>

        <dataSource alias="dataSourceProdUserIdentity"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceProdCartorioNew"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="dataSourceProdCartorio"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=???)(PORT=1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME=car12)))"/>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="contextOraDevUserIdentity" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceDevUserIdentity; User id=dezesseis_new; Password=senha16ri;"/>
    <add name="contextOraDevCartorioNew" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceDevCartorioNew;User id=dezesseis_new;Password=senha16ri;Min Pool Size=10;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5;Decr Pool Size=2;"/>
    <add name="contextOraDevCartorio" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceDevCartorio; User id=dezesseis; Password=wordpass;"/>

    <add name="contextOraHomoloUserIdentity" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceUserIdentity; User id=???; Password=???;"/>
    <add name="contextOraHomoloCartorioNew" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceCartorioNew; User id=???; Password=???;"/>
    <add name="contextOraHomoloCartorio" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceCartorio; User id=???; Password=???;"/>

    <add name="contextOraProdUserIdentity" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceUserIdentity; User id=??? Password=???;"/>
    <add name="contextOraProdCartorioNew" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceCartorioNew; User id=???; Password=???;"/>
    <add name="contextOraProdCartorio" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=dataSourceCartorio; User id=???; Password=???;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>